@charset "utf-8";

/* Body Styles */

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    background-color: #F7E3D4;
    font-family: Arial-black, Helvetica, sans-serif;
    font-size: 12pt;  
    line-height: 1.5;  
}

/* heading styles*/
header {
    background-color: #FC7307;
}

h1 {
    text-align: center;
    color: #236AB9;
    font-size: 2.2em;
}

h2 {
    color: #236AB9;
    font-size: 1.5em;
    text-indent: 1%;
}

p {
    text-indent: 1%;
    margin: 25px;
}
 /* nav styles */
nav {
    font-size: 0.9em;
}

nav > ul {
    list-style: none;
    line-height: 2em;
}

nav > ul > li {
    display: inline;
    padding-right: 2%;
    
}

nav > ul > li > a {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #236AB9;
  }

/*section styles */
section#leftColumn {
    clear: left;
    float: left;
    width: 55%;  
}

section#leftColumn h2 {
    text-align: center;
}

section#rightColumn {
    float: right;
    width: 45%;
}

section > ul {
    font-style: italic;
}

section#hobbies {
    text-align: center; 
}
/* paragraph styles */
p {
    clear: left;
}

/* footer styles */
footer {
    clear: both;
    background-color: #FC7307;
    text-align: center;
    padding: 10px;
}